<style>
  .titulo {
    text-align: center;
  }
</style>
<ion-header class="titulo">
  <ion-toolbar>
    <ion-buttons slot="start" >       
      <ion-back-button       
      defaultHref="/" text=""       
      color="tertiary"       
      mode="chevron-back-circle"></ion-back-button>     
    </ion-buttons>        
    <ion-title color="tertiary">Verificar edad</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="tema">
  <ion-toolbar>
  </ion-toolbar>
    <ion-item>
      <ion-label position="floating">Nombre: <ion-text color="primary"></ion-text></ion-label>
      <p></p>
      <ion-input type="text" [(ngModel)]="nombre"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Edad: <ion-text color="primary"></ion-text></ion-label>
      <p></p>
      <ion-input type="number" [(ngModel)]="edad"></ion-input>
    </ion-item>
    <p></p>
<ion-button shape="round" (click)="verificarEdad()">Verificar Edad</ion-button>
  
<ion-item *ngIf="mensaje">
  <ion-label>{{ mensaje }}</ion-label>
</ion-item>
  </ion-content>